// d-flex
@mixin d-flex{
    display: flex;
    justify-content: space-between;
}

// form header
@mixin form-header{
    border: 1px solid transparent;
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: .3rem;
    color: rgba(0, 0, 0, 0.568);
}

// position absolute
@mixin position-center($pourcentage){
    position: absolute;
    left: $pourcentage;
    bottom: 10%;
    transform: translateX(-$pourcentage);
}

// form newsLetter
@mixin newsletter{
    padding: 1rem 1.2rem;
    border: 1px solid transparent;
    color: $color-white;
    font-size: 1.5rem;
}

// button
@mixin button{
    background: $color-green;

    &:hover{
        background: #1593a7;
        box-shadow: $btn-shadow;
    }
}

// form search
@mixin form-search{
    form{
        input{
            width: 25%;
            background: $color-white;
            @include form-header;

            @include responsive(phone){
                width: 100%;
                margin-bottom: 1rem;
            }
        }

        button{
            @include form-header;
            background: $color-green;
            color: $color-white;
            transition: all .3s;

            &:hover{
                background: #1593a7;
                box-shadow: $btn-shadow;
            }
        }
        
    }
}

// card postprof
@mixin card-postprof{
    & .card-listprof{
        position: relative;
        margin-bottom: 3rem;
        transition: all .3s;

        & .card-listprof-text{
            background: $color-white;
            box-shadow: $card-shadow;
            min-height: 25rem;
            padding: 2rem 9rem 2rem 2rem;
            width: 80%;
            color: $color-dark;

            img{
                height: 2rem;
            }

            & .nameprof{
                margin-bottom: 2rem;

                small{
                    color: $color-wfade;
                }
            }

            .icon-pin{
                height: 1.5rem;
                vertical-align: middle;
                margin-right: 1rem;
            }

            & .card-cote{
                display: flex;
                margin-bottom: 1rem;
                
                p{
                    margin-right: 1rem;
                    border: 1px solid $color-primary;
                    border-radius: $b-radius3;
                    padding: .5rem 1rem;
                    font-size: 1.3rem;

                    @include responsive(phone){
                        padding: .5rem;
                        font-size: 1rem;
                    }
                }

                & .star{
                    color: $color-primary;
                }

                @include responsive(phone){
                    justify-content: space-evenly;
                }
            }

            @include responsive(phone){
                background: transparent;
                box-shadow: initial;
                width: initial;
                padding: initial;
                text-align: center;
                min-height: initial;
            }
        }

        & .card-listprof-img{
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            background-color: #efefef;

            img{
                height: 20rem;
                width: 20rem;
                object-fit: cover;

                @include responsive(phone){
                    border-radius: 50%;
                    height: 15rem;
                    width: 15rem;
                }
            }

            @include responsive(phone){
                position: initial;
                top: initial;
                transform: initial;
                text-align: center;
                margin-bottom: 2rem;
                background-color: transparent;
            }
        }

        &:hover{
            transform: translateY(-3%);
        }

        @include responsive(phone){
            background: $color-white;
            box-shadow: $card-shadow;
            padding: 1rem;
        }
    }
}

// form connexion inscription
@mixin connexion-inscription{
    width: 100%;
    border-radius: $b-radius;
    border: 1px solid $color-wfade;
    margin-bottom: 1rem;
    padding: 1rem 2rem;

    @include responsive(phone){
        padding: 1rem;
    }
}

@mixin table{
    table{
        margin: 1rem 0 1rem;
        width: 100%;

        th{
            padding: .5rem 1rem;
            background: $color-light;
            color: $color-wfade;
            color: $color-wfade;
            border-width:1px;
            border-style:solid; 
            border-color:$bgcolor-money;
        }

        td{
            padding: .5rem 1rem;
            color: $color-wfade;
            border-width:1px;
            border-style:solid; 
            border-color:$bgcolor-money;
            text-align: center;
            font-size: 1.5rem;
        }

        tr{
            & .reserver{
                color: $color-white;
                background: $color-green;
            }
        }
    }
}

// style profil
@mixin styleProfil{
    background: $color-white;
    padding: 2rem;
    border-left: 3px solid $color-primary;
    border-top-left-radius: $b-radius;
    border-bottom-left-radius: $b-radius;
}

// input radio
@mixin radio{
    display: flex;
    align-items: center;
    padding: 0 1.5rem;
    margin-bottom: 1rem;

    input{
        width: initial;
        margin-top: 0;
    }

    label{
        margin-left: 1rem;
    }
}


// profil general form
@mixin general-form {
    width: 100%;
    border: 1px solid $color-wfade;
    border-radius: $b-radius;
    padding: 1.5rem 2rem;
    margin-bottom: 1.5rem;
}

@mixin profil-box {
    box-shadow: $shadow-dashbord;
    border-radius: $b-radius;
    min-height: 10rem;
    padding: 3rem;

    @include responsive(phone){
        padding: 2rem 1rem;

        & h2{
            font-size: 2rem;
        }
    }
}

@mixin img-modif {
    & .img-modif{
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        padding: .5rem;
        position: absolute;
        top: 1rem;
        right: 2rem;
        background: #fa70352e;
        transition: all .3s;

        & img{
            height: 1.5rem;
            margin-bottom: .5rem;
        }
    }
}

@mixin border-bottom-after {
    & .title-noteProf{
        position: relative;
        padding-bottom: 1rem;

        &::after{
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            height: .3rem;
            width: 25%;
            background: $color-white;
        }
    }
}

@mixin select2 {
    & select{
        width: 25%;
        background: $color-white;
        font-size: 1.5rem;
        border: 1px solid transparent;

        &:focus{
            outline: none;
        }

        @include responsive(phone){
            width: 100%;
            margin-bottom: 1rem;
        }
    }

    & .select2-container .select2-selection--single{
        height: 4.3rem;
        @include responsive(tab-land){
            margin-bottom: .5rem;
        }
    }

    & .select2-container--default .select2-selection--single .select2-selection__rendered{
        line-height: 4.2rem;
        font-size: 1.5rem;
        color: $color-dark;
    }

    & .select2-container--default .select2-selection--single .select2-selection__arrow{
        top: .9rem;
    }
}

@mixin paginations {
    & ul{
        display: flex;
        justify-content: center;
        
        & li{
            width: 4rem;
            height: 4rem;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1rem;
            margin: 0 .5rem;
            border-radius: 50%;
            box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);

            & a{
                color: $color-dark;
            }

            & img{
                height: 2rem;
            }

            @include responsive(phone){
                height: 2.5rem;
                width: 2.5rem;

                & img{
                    height: 1.5rem;
                }
            }
        }

        & .hoverChange{
            transition:  all .3s;

            &:hover{
                background: rgba(235, 235, 235, 0.781);
            }
        }

        & .p-active{
            background: $color-green;
            border-radius: 50%;
            
            & a{
                color: $color-white;
            }
        }
    }
}