// color
$color-black: #000;
$color-dark: rgba(0, 0, 0, 0.808);
$color-white: #FFF;
$color-light: rgba(238, 238, 238, 0.856);
$color-green: #117a8b;
// $color-primary: #8588f1;
// $color-primary: #e7711b;
// $color-primary: #fe9b01;
// $color-primary: #f89d1a;#fa7035
$color-primary: #fa7035;
$color-link: #151515;
$color-action: #6a49ce;
$color-wfade: rgba(0, 0, 0, 0.432);

// background color
$bgcolor-white: #f2f3f8;
$bgcolor-card: rgba(0, 0, 0, 0.178);
$bgfooter-bottom: #252525;
$bgfooter-black: #111;
$bgcolor-fb: #3b5998;
$bgcolor-green: #2faec236;
$bgcolor-money: #f4f7f8;
$bgcolor-primarylight: #6a49ce34;

// shadow
$btn-shadow: 0px 3px 6px 0px #2e2e2ec5;
$nav-shadow: 0 15px 25px 0 rgba(0,0,0,0.08);
$card-shadow: 0px 20px 60px #6059BB12;
$form-shadow: 0 8px 50px rgba(21, 111, 193, 0.1);
$step-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.15);
$text-shadow: 3px 2px 0px $color-white;
$shadow-dashbord: 0 0 37px rgba(8,21,66,0.05);

// border
$b-radius: .5rem;
$b-radius3: 3rem;

// padding
$forum-padding: 1rem 2rem;