
// page coursprof.html

// card family
.family{
    
    & .card-family{
        border-radius: .3rem;
    }

    & .card-family-one{
        height: 50rem;
        overflow: hidden;
        position: relative;

        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        & .one-content{
            text-align: center;
            position: absolute;
            bottom: 0;
            color: white;
            width: 100%;
            padding: 2rem;
            background: linear-gradient(rgba(0, 0, 0, 0.089), #000);

            h4{
                font-weight: bold;
            }

            p{
                font-size: 1.6rem;

                @include responsive(phone){
                    font-size: 1.3rem;
                }
            }
        }

        @include responsive(phone){
            height: 25rem;
        }
    }

    & .card-family-two{
        width: 100%;
        min-height: 23rem;
        padding: 2rem;
        background: $bgcolor-green;
        box-shadow: $card-shadow;

        h3{
            font-weight: bold;
        }

        p{
            font-size: 1.6rem;

            @include responsive(phone){
                font-size: 1.3rem;
            }
        }

        @include responsive(tab-port) {
            margin: 2rem 0;
        }

        @include responsive(phone){
            min-height: 18rem;
        }
    }
}

// card step-myprof
.card-myprof{
    padding: 2rem;
    min-height: 30rem;
    box-shadow: $step-shadow;
    background: $color-white;

    & .myprof-text{
        h3{
            font-weight: bold;
            margin-bottom: 2rem;
        }

        p{
            font-size: 1.7rem;

            @include responsive(phone){
                font-size: 1.3rem;
            }
        }

        & .number{
            font-size: 3rem;
            background: #6a49ce34;
            width: 5rem;
            height: 5rem;
            text-align: center;
            border-radius: 50%;
        }
    }

    & .motion-img{
        min-height: 10rem;

        img{
            height: 100%;
            width: 100%;
        }

        @include responsive(phone){
            height: 5rem;
        }
    }
}

.profil-card{
    min-height: 15rem;
    box-shadow: $shadow-dashbord;
    padding: 3rem 5rem;
    border-radius: $b-radius;
    margin-bottom: 4rem;

    @include responsive(tab-land){
        padding: 3rem 2rem;
    }
}

.link-card{
    box-shadow: $shadow-dashbord;
    padding: 3rem 5rem;

    & a{
        display: flex;
        margin-bottom: 2rem;
        color: inherit;

        &:hover{
            color: inherit;
        }
    }

    & img{
        height: 2rem;
        vertical-align: middle;
        margin-right: 1rem;
    }

    @include responsive(tab-land){
        padding: 3rem 2rem;
    }
}

.status-card{
    padding: 3rem 1rem;
    background: linear-gradient(90deg, #fa703560, #fa7035, #fa703560);
    box-shadow: 0 45px 25px -40px #fa7035a2;
    border-radius: $b-radius;
    position: relative;
    margin-bottom: 4rem;

    & .u-pearl-title{
        color: $color-white;
    }

    & a{
        color: $color-white;
        font-size: 1.6rem;

        &:hover{
            color: $color-white;
        }
    }

    @include responsive(phone){
        display: none;
    }
}

.message-card{
    box-shadow: $shadow-dashbord;
    border-radius: $b-radius;
    margin-bottom: 4rem;

    &__title{
        padding: 3rem 5rem;
    }

    &__content{
        padding: 3rem 5rem;

        & img{
            height: 4rem;
            vertical-align: middle;
            margin-right: 1rem;
        }
    }

    &__reservation{
        display: flex;
        align-items: center;
        padding: 1rem 5rem;

        &-prof{
            display: flex;
            align-items: center;
            width: 25rem;

            & .img-prof{
                height: 4rem;
                min-width: 4rem;
                margin-right: 1rem;
                border-radius: 50%;
                overflow: hidden;

                & img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }

            & .img-prof-message{
                height: 6rem;
                width: 6rem;
                margin-right: 1rem;
                border-radius: 50%;
                overflow: hidden;

                & img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
        }

        &-text{
            padding: 0 1rem;
        }

        &-button{
            min-width: 15rem;
        }

        @include responsive(tab-land){
            display: block;
            padding: 1rem 2rem;
            text-align: center;

            &-prof{
                display: block;
                width: auto;
                margin-bottom: 1rem;

                & .img-prof{
                    min-height: 15rem;
                    width: 15rem;
                    margin: auto;
                }
            }
        }

        @include responsive(tab-port){
            display: flex;

            &-prof{
                display: block;
                width: 25rem;
                text-align: center;

                & .img-prof{
                    min-height: 4rem;
                    width: 4rem;
                    border-radius: 50%;
                    overflow: hidden;
                }
            }
        }

        @include responsive(phone){
            display: block;
            padding: 1rem 2rem;
            text-align: center;

            &-prof{
                display: block;
                width: auto;
                margin-bottom: 1rem;

                & .img-prof{
                    min-height: 10rem;
                    width: 10rem;
                    margin: auto;
                }
            }
        }
    }

    &__item{
        display: flex;
        padding: 1rem 5rem;

        &-photo{
            width: 20rem;
            height: auto;
            overflow: hidden;
            border-radius: $b-radius;

            & img{
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }

        &-info{
            padding-left: 2rem;

            & .demande-link{
                display: flex;
                flex-wrap: wrap;
                margin-top: 2rem;
                
                & li{
                    list-style: none;
                    margin-right: 1.5rem;
                }
            }
        }

        @include responsive(tab-land){
            display: block;
            padding: 1rem 2rem;

            &-photo{
                width: initial;
            }

            &-info{
                padding-left: 0;
                margin-top: 2rem;
            }
        }

        @include responsive(tab-port){
            display: flex;

            &-photo{
                width: 20rem;
            }

            &-info{
                margin-top: initial;
                margin-left: 2rem;
            }
        }

        @include responsive(phone){
            display: block;

            &-photo{
                width: initial;
            }

            &-info{
                margin-left: initial;
                margin-top: 2rem;
            }
        }
    }

    & .pd-message{
        padding: 1rem;
    }

    @include responsive(tab-land){
        &__title{
            padding: 2rem;
        }
        
        &__content{
            padding: 2rem 1rem;
            align-items: center;

            & img{
                height: 3rem;
            }

            & p{
                margin-bottom: 0;
            }
        }
    }

    @include responsive(phone){
        &__title{
            padding: 1rem 2rem;
        }

        &__content{
            padding: 1rem 2rem;

            & img{
                height: 2rem;
            }
        }
    }
}

.annonce-card{
    box-shadow: $shadow-dashbord;
    border-radius: $b-radius;

    &__title{
        padding: 3rem 5rem;

        @include responsive(tab-land){
            padding: 2rem;
        }
    }

    &__item{
        display: flex;

        &-img{
            padding: 3rem;
            flex: 1;

            & p{
                width: 12rem;
                height: 12rem;
                border-radius: 50%;
                object-fit: cover;

                & img{
                    height: 100%;
                    width: 100;
                    object-fit: cover;
                }
            }
        }

        & .annonce-link{
            flex: 5;
        }

        &-content{
            padding: 3rem 0;
            border-right: 1px solid $color-light;
        }

        &-form{
            padding: 3rem;
            flex: 1;
        }

        @include responsive(tab-land){
            display: block;

            & p{
                margin: auto;
            }

            &-img{
                padding: 2rem;
            }

            &-content{
                padding: 2rem;
                text-align: center;
            }

            &-form{
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 1rem 3rem;
            }
        }

        @include responsive(phone){
            & p{
                height: 9rem;
                width: 9rem;
            }

            &-img{
                padding-bottom: 0rem;
            }

            &-form{
                padding-top: 0;
            }
        }
    }
}

.annonce-masterclass-card{
    min-height: 5rem;
    padding: 3rem 5rem;
    border-radius: 1rem;
    background: linear-gradient(45deg, #fa7035, #fa703550);
    @include d-flex;

    @include responsive(tab-land){
        padding: 2rem;
        display: block;
    }
}

.agenda{
    &__card{
        border: 1px solid $color-light;
        padding: 1rem;
        margin-bottom: 2rem;
        border-radius: $b-radius;

        &-user{
            display: flex;

            & .photo{
                width: 10rem;
                height: 100%;
                border-radius: $b-radius;
                overflow: hidden;

                & img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }

            & .info{
                padding: 0 1rem;
            }
        }
    }
}

.card-evaluationprof{
    display: flex;
    padding: 2rem;
    background: rgba(238, 238, 238, 0.596);

    &__info{
        width: 40%;

        & p{
            height: 6rem;
            width: 6rem;
            margin: auto;
            margin-bottom: 1rem;
            border-radius: 50%;
            overflow: hidden;

            & img{
                height: 100%;
                width: 100%;
                object-fit: cever;
            }
        }
    }

    &__text{
        padding-left: 1rem;
    }

    & small{
        font-weight: bold;
    }

    @include responsive(tab-land){
        margin-bottom: 2rem;
    }
}

// page solde
.card-solde{
    min-height: 40rem;
    width: 41rem;
    padding: 2rem 3rem;
    margin: auto;
    box-shadow: 0 0 37px rgba(8, 21, 66, 0.05);

    &__solde-img{
        height: 30rem;

        & img{
            height: 100%;
            object-fit: cover;
        }
    }

    &__content{
        position: relative;
        height: 6rem;

        &--img{
            height: 8rem;
            width: 8rem;
            border-radius: 50%;
            overflow: hidden;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);

            & img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        &--text{
            background-color: #fa7035db;
            border: 1px solid $color-primary;
            width: 90%;
            float: right;
            height: 100%;
            padding: .5rem 1rem .5rem 5rem;
            color: $color-white;
            border-bottom-right-radius: $b-radius;
            border-top-right-radius: $b-radius;
        }
    }
}