// title
h1{
    font-size: 5rem;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: white;

    // @include responsive(big-desktop){
    //     font-size: 4rem;
    // }

    // @include responsive(tab-land){
    //     font-size: 4rem;
    // }

    @include responsive(phone){
        font-size: 3.5rem;
    }
}

h2{
    font-size: 4rem;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;

    @include responsive(phone){
        font-size: 2.5rem;
    }
}

h3{
    font-size: 3rem;
    font-family: 'Raleway', sans-serif;

    @include responsive(phone){
        font-size: 2rem;
    }
}

h4{
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
}

.d-profil-info{
    & h2{
        font-size: 3rem;
        text-transform: uppercase;
        font-weight: 600;
    }

    & p{
        font-size: 1.8rem;
        color: $color-wfade;
    }
}

.message-card{
    &__title{
        & h3{
            font-size: 2rem;
            font-weight: 600;
        }
    }

    & p{
        font-size: 2rem;
        color: $color-wfade;
    }

    & .reservation-message{
        font-size: 1.2rem;
    }

    & small{
        color: $color-wfade;
    }

    &__item{
        & h4{
            text-transform: uppercase;
            font-weight: bold;
            font-size: 1.5rem;
            font-family: 'Raleway', sans-serif;
            margin-bottom: .5rem;
        }

        & p{
            font-size: 1.5rem;
            margin-bottom: .2rem;
            line-height: initial;
            font-size: 1.3rem;
            padding: 0;
        }

        & .attente{
            color: $color-primary;
        }

        & .rejeter{
            color: #da4242;
        }

        & .accepter{
            color: #008001;
        }
    }

    @include responsive(tab-land){
        & p{
            font-size: 1.5rem;
        }
    }

    @include responsive(phone){
        & p{
            font-size: 1.2rem;
        }

        & li{
            font-size: 1.2rem;
        }
    }
}

.annonce-card{
    &__title{
        & h3{
            font-size: 2rem;
            font-weight: 600;
        }
    }

    &__item{
        & h4{
            font-size: 2rem;
            font-weight: 600;
            color: $color-black;
        }

        & .filiere{
            color: $color-primary;
        }

        & .prix{
            color: $color-white;
        }

        &-content{
            height: 100%;
        }

        @include responsive(phone){
            & h4{
                font-size: 1.6rem;
            }
        }
    }
}

.annonce-masterclass-card{
    & p{
        color: $color-white;
        font-size: 1.6rem;

        & span{
            font-weight: bold;
        }

        @include responsive(phone){
            font-size: 1.5rem;
        }
    }
}

.profil-suppression{
    & span{
        color: $color-black;
        font-weight: 600;
        text-transform: uppercase;
    }
}

.title-methodologie{
    &__title{
        & h2{
            font-size: 2.5rem;
        }
    }
}

.tarif{
    & span{
        color: $color-dark;
        float: right;
    }
}

.description-tarif{
    color: $color-wfade;
}

.titre-consigne{
    &__text{
        color: $color-white;

        & h4{
            font-size: 2rem;
        }

        & ul{
            & li{
                font-size: 1.5rem;
            }
        }

        & p{
            font-size: 1.5rem;
        }

        @include responsive(phone){
            & h4{
                font-size: 1.5rem;
            }

            & ul{
                & li{
                    font-size: 1.2rem;
                }
            }

            & p{
                font-size: 1.2rem;
            }
        }
    }
}

.textarea-title{
    font-weight: 600;
}

.localite-cours{
    &__type{
        @include responsive(phone){
            & span{
                font-size: 1rem;
            }
        }
    }
}

.matiere-niveau{
    @include responsive(phone){
        & h3{
            font-size: 2rem;
        }
    }
}

.modals{
    @include responsive(phone){
        & h2{
            font-size: 2rem;
        }

        & h3{
            font-size: 1.5rem;
        }
    }
}

.btn-matieres{
    @include responsive(phone){
        & h4{
            font-size: 1.5rem;
            margin-bottom: 1.5rem;
        }
    }
}

.agenda{
    & h3{
        margin-bottom: 2rem;
    }

    &__card{
        &-user{
            & .info{
                & h4{
                    margin-bottom: 1.5rem;
                    font-weight: bold;
                    text-transform: uppercase;
                }
                
                & p{
                    line-height: 1rem;
                    color: $color-wfade;
                }
            }
        }

        &-progamme{
            & h4{
                margin-bottom: 1.5rem;
                font-weight: bold;
                text-transform: uppercase;
            }

            & p{
                line-height: 1rem;
                color: $color-wfade;
            }
        }

        @include responsive(tab-land){
            & h4{
                font-size: 1.5rem;
            }

            & p{
                font-size: 1.2rem;
            }
        }
    }
}

.view-profil{
    &__lblock{
        & h2{
            font-size: 4rem;
            text-transform: uppercase;
            font-weight: bold;
        }

        @include responsive(big-desktop){
            & h2{
                font-size: 2rem;
            }
        }
    }

    &__rblock{
        & p{
            font-weight: 600;
        }

        & span{
            font-size: 2rem;
        }

        & small{
            font-size: 1.3rem;
            color: $color-primary;
        }

        @include responsive(phone){
            & span{
                font-size: 1.6rem;
            }
        }
    }
}

.offreCours{
    & p{
        color: $color-wfade;
    }
}

// profil dashbord diplome verify
.verify-yes{
    color: rgb(10, 151, 10);
    font-weight: 600;
}

.verify-no{
    color: rgb(252, 81, 81);
    font-weight: 600;
}

.box-message{
    & h3{
        color: $color-white;
        font-weight: 600;
    }

    & h4{
        color: $color-white;
        font-weight: 600;
    }

    & p{
        color: $color-white;
    }

    @include responsive(phone){
        & h3{
            font-size: 1.7;
        }

        & h4{
            font-size: 1.5rem;
        }

        & p{
            font-size: 1.3rem;
        }
    }
}

.digits{
    & .s-bold{
        font-weight: 600;
    }

    & .s-float{
        font-size: 1.2rem;
        text-align: left;
        margin-left: 1rem;
    }
}

.steps-number{
    font-size: 6rem;
    color: $color-white;

    @include responsive(phone){
        font-size: 3rem;
    }
}

.critique-prof{
    font-size: 1.4rem;
}

.note-prof{
    background: $color-primary;
    padding: .5rem 1rem;
    color: $color-white;
    border-radius: $b-radius3;
}

.title-otherProposition{
    font-weight: 900;
}

.op-link{
    & a{
        font-size: 1.4rem;
        color: $color-black;
        text-transform: capitalize;
    }
}

.devise-text{
    font-weight: bold;
    
    & span{
        font-size: 5rem;
    }
}

.title-confidentialite{
    color: $color-white;
}

.title-confidenty{
    color: $color-primary;
}

.title-note{
    color: $color-green;
}

.note-text{
    font-size: 1.5rem;
}

.note-list{
    & li{
        font-size: 1.5rem;
        font-family: 'Raleway', sans-serif;
    }
}

.title-noteProf{
    font-weight: 700;

    @include responsive(tab-land){
        font-size: 1.5rem;
    }

    @include responsive(tab-port){
        font-size: 2.6rem;
    }

    @include responsive(phone){
        font-size: 1.4rem;
    }
}

.rappelInofCours{
    font-weight: bold;
    font-size: 1.5rem;
    
    @include responsive(phone){
        font-size: 1.3rem;
    }
}

.star-note{
    color: $color-white;
    font-size: 2rem;
    transition: all .3s;
}

.text-recupe{
    font-size: 1.5rem;
}

.link-feedback{
    text-decoration: none;
    color: $color-green;
}

.equipe-recupe{
    text-align: center;
    display: block;
    font-size: 1.2rem;
    color: rgb(150, 150, 150);
}

.text-mail{
    font-size: 1.5rem;
}

.consigne-number{
    color: #6b62ff;
    font-size: 2rem;
    font-weight: bold;
}

.solde{
    font-size: 1.5rem;
    font-weight: bold;
}

.title-footer{
    color: $color-white;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px dashed white;
}