.questions-responses{
    background: $bgcolor-money;
    & h2{
        margin-bottom: 1rem;
    }

    & .aide-title{
        margin-bottom: 2rem;
    }

    & h3{
        color: $color-primary;
    }

    & h4{
        font-size: 2.3rem;
    }

    & .box-question-reponse{
        margin-bottom: 2rem;
        padding: 2rem;
        border-radius: $b-radius;
        box-shadow: 14px 16px 70px -7px rgba(15, 23, 41, 0.08);
        background: $color-white;

        & p{
            color: $color-wfade;
        }
    }
}