.navigation{

    ul{
        margin-bottom: 0;
    }


    & .parametre{
        background: $bgcolor-white;
        border-radius: $b-radius3;
        position: relative;

        img{
            height: 4rem;
            vertical-align: middle;
            margin-right: 2rem;
        }

        span{
            display: inline-block;
            background: $color-primary;
            padding: .5rem;
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            vertical-align: middle;
            text-align: center;
            color: $color-white;
        }

        .sous-menu{
            display: none;
            position: absolute;
            right: 0;
            width: 23rem;
            background: transparent;
            box-shadow: $card-shadow;
            padding-top: 1.5rem;

            & .bg-sous-menu{
                background: $color-white;
            }

            li{
                display: block;
                border-bottom: 1px solid $color-primary;
                padding: 1rem 2rem;

                a{
                    font-size: 1.4rem;
                    color: black;
                }

                &:hover{
                    a{
                        padding-left: 1rem;
                        color:$color-primary;
                    }
                }
            }
        }

        &:hover{
            .sous-menu{
                display: block;
            }
        }
    }
}