.box-congratulation{
    min-height: 100vh;
    display: flex;

    &__motion{
        flex: 1;
        background-color: $color-primary;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2rem;

        & img{
            height: 60%;
        }
    }

    &__text{
        flex: 1;

        &--content{
            width: 60%;
            margin: auto;
            text-align: center;
            padding: 2rem;
            border-radius: $b-radius;
            box-shadow: 0px 0px 8px 5px #efefef9c;
        }

        @include responsive(tab-land){
            &--content{
                width: 90%;
            }
        }
    }

    @include responsive(phone){
        display: block;

        &__motion{
            height: 50vh;
        }

        &__text{
            height: 50vh;
            display: flex;
            align-items: center;
        }
    }
}