.header{

    & .header-left{
        p{
            color: $color-light;
        }

        @include responsive(phone){
            margin-top: 10rem;
        }
    }

    & .form-prof{
        width: 80%;
        float: right;
        min-height: 40rem;
        background: $color-white;
        box-shadow: $form-shadow;
        padding: 3rem;
        margin-bottom: -65%;
        border-radius: $b-radius;

        h3{
            text-align: center;
            font-weight: bold;
            margin-bottom: 1rem;
        }

        & .btn-facebook{
            background: $bgcolor-fb;
            color: $color-white;
        }

        & .btn-google{
            border: 1px solid $color-dark;
            background: transparent;
        }

        & .reseaux-inscription{
            button{
                margin-bottom: 1rem; 
            }
        }

        form{
            input{
                width: 100%;
                margin-bottom: 1rem;
                padding: 1rem 2rem;
                color: rgba(0, 0, 0, 0.637);
                font-size: 1.5rem;
            }

            button{
                color: $color-white;
                margin: 1rem 0 .5rem;
                transition: all .5s;
                @include button;
            }

            small{
                font-size: 1.1rem;
                text-align: center;
            }
        }

        @include responsive(tab-land) {
            width: 100%;
        }

        @include responsive(tab-port) {
            margin-bottom: initial;
        }

        @include responsive(phone) {
            padding: 3rem 1rem;
            margin: 2rem 0;
        }
    }
}

// family
.family{
    h2{
        color: $color-green;
        margin: 2rem 0 5rem;

        @include responsive(lgbig-desktop) {
            margin-top: 5rem;
        }

        @include responsive(phone){
            margin: 0 0 2rem;
        }
    }
}

// step myprof
.step-myprof{
    background: $bgcolor-primarylight;
    
    & .myprof{
        font-size: 7rem;
        text-shadow: $text-shadow;
        color: $color-action;

        @include responsive(phone){
            font-size: 5rem;
        }
    }
}

// trust
.trust{
    background: $bgcolor-green;

    h2{
        color: $color-green;
    }

    & .trust-description{
        padding: 0 3rem;

        @include responsive(tab-port) {
            margin-bottom: 3rem;
        }

        @include responsive(phone){
            font-size: 1.3rem;
            padding: 0;
        }
    }

    & .trust-illustration{
        padding: 1rem 3rem;

        p{
            padding-bottom: 1rem;
            border-bottom: 1px solid rgba(0, 0, 0, 0.24);
        }

        img{
            height: 3rem;
            vertical-align: middle;
            margin-right: 1rem;
        }

        @include responsive(phone){
            padding: 0;
        }
    }
}

.money{
    background: $bgcolor-money;

    & .card-money{
        background: $color-white;
        padding: 2rem;

        img{
            float: right;
            top: 3%;
            right: 3%;
            height: 5rem;

            @include responsive(phone){
                height: 4rem;
            }
        }

        h3{
            margin: 1rem 0;
        }

        @include responsive(tab-port) {
            margin-bottom: 2rem;
        }
    }
}

// section number
.number{

    & .number-img{
        img{
            height: 15rem;
        }
    }

    & .card-number{
        @include d-flex;
        flex-wrap: wrap;

        & .card-number-item{
            text-align: center;
            padding: 2rem 4rem;
            border: 1px black;
            border-style: dashed solid;
            margin: 1rem 0;

            h3{
                font-size: 4rem;
            }
        }

        @include responsive(phone) {
            justify-content: center;
        }
    }
}

// explain myprof
.explain{
    background: $bgcolor-primarylight;

    p{
        font-size: 1.5rem;

        @include responsive(phone){
            font-size: 1.3rem;
        }
    }

    & .step-explain{
        padding: 1rem 2rem;
        transition: all .3s;

        &:hover{
            background: $bgcolor-white;
            border-radius: $b-radius;
            box-shadow: $step-shadow;

            h4{
                font-weight: bold;
            }
        }
    }
}

// article
.magazine{
    small{
        color: $color-wfade;
    }
}

.article{
    background: $bgcolor-money;
}

// question
.question{

    & .question-item{
        padding: 2rem;

        h3{
            margin-bottom: 1rem;

            @include responsive(phone){
                margin-bottom: 0;
            }
        }

        ul{
            a{
                color: $color-dark;
                margin-bottom: 2rem;
                transition: all .5s;
                
                li{
                    padding: 1rem 0;
                    border-bottom: 1px dashed $color-dark;
                }

                &:hover{
                    color: $color-primary;
                }
            }
        }

        & .plus{
            color: $color-primary;

            img{
                height: 2rem;
                vertical-align: middle;
                margin-left: 1rem;
                transition: all .3s;
            }

            &:hover{
                img{
                    margin-left: 2rem;
                    transform: rotate(-45deg);
                }
            }
        }

        @include responsive(phone){
            font-size: 1.3rem;
            padding: 1rem 2rem;
        }
    }
}