
.form-recherche{
    min-height: 20rem!important;
    margin-bottom: 0!important;
}

.devise{
    &__item{
        min-height: 20rem;
        width: 100%;
        padding: 3rem 2rem 5rem;
        box-shadow: 0 0 7px rgba(0, 0, 0, 0.07);

        &-title{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        & .divise-img{
            & img{
                height: 2.5rem;
                margin-top: 1rem;
            }
        }

        @include responsive(tab-port){
            margin-bottom: 2rem;
        }
    }

    & .perspective-right{
        transform: scale(1) perspective(1040px) rotateY(15deg) rotateX(5deg) rotate(-1deg);
    }

    & .perspective-left{
        transform: scale(1) perspective(1040px) rotateY(-15deg) rotateX(5deg) rotate(-1deg);
    }
}

.support-steps{
    padding: 0 0 7rem;

    & .box-number{
        width: 80%;
        margin: auto;

        @include responsive(tab-land){
            width: 100%;
        }

        @include responsive(phone){
            margin-bottom: 3rem;
        }
    }

    &__number{
        height: 13rem;
        width: 13rem;
        border-radius: 50%;
        transition: all .3s;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        margin-left: 3rem;

        &:hover{
            transform: scale(1.1);
        }

        @include responsive(tab-port){
            height: 10rem;
            width: 10rem;
        }

        @include responsive(phone){
            height: 7rem;
            width: 7rem;
        }
    }

    & .number-1{
        background-color: orange;
        margin-left: 10rem;

        @include responsive(tab-land){
            margin-left: 7rem;
        }

        @include responsive(phone){
            margin-left: 6rem;
        }
    }

    & .number-2{
        margin-left: 30rem;
        background-color: black;

        @include responsive(tab-land){
            margin-left: 25rem;
        }

        @include responsive(tab-land){
            margin-left: 20rem;
        }

        @include responsive(phone){
            margin-left: 17rem;
        }
    }

    & .number-3{
        background-color: green;
    }

    &__content{
        padding: 1rem;
        border-radius: .3rem;
    }
}

.other-proposition{
    &__item{
        
        &-list{
            display: flex;
            justify-content: space-between;

            & ul{
                width: 70%;

                & li{
                    min-width: 15rem;
                    margin-bottom: 1rem;
                }
            }
        }

        @include responsive(tab-port){
            margin-bottom: 2rem;

            &-list{
                display: flex;
                flex-wrap: wrap;

                & ul{
                    width: initial;

                    & li{
                        min-width: 5rem;
                    }
                }
            }
        }
    }
}

.more-explication{
    &__item{
        min-height: 10rem;
        box-shadow: 0 0 7px rgba(0, 0, 0, 0.07);
        padding: 2rem;
        margin-bottom: 3rem;
    }
}