.box-demande{
    width: 40%;
    min-height: 15rem;
    box-shadow: $shadow-dashbord;
    margin: auto;
    padding: 2rem;

    @include responsive(tab-land){
        width: 60%;
    }

    @include responsive(tab-port){
        width: 80%;
    }

    @include responsive(phone){
        width: 100%;
    }
}