.boxError{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $color-white;

    &__content{
        background: linear-gradient(rgba(255, 255, 255, 0.534), rgba(255, 255, 255, 0.774)),url("../images/bg/bg-error.jpg") no-repeat;
        background-size: cover;
        background-position: center;
        min-height: 30rem;
        width: 55rem;
        text-align: center;
        padding: 2rem;
        border-radius: $b-radius;

        &-error{
            font-size: 5rem;
            text-transform: uppercase;
            color: $color-wfade;
            font-weight: 600;
            margin: 0;
        }

        & h2{
            font-size: 10rem;
            color: $color-green;
            text-shadow: 1px 2px 3px black;
        }

        &-text{
            font-size: 2rem;
            color: color-wfade;
        }
    }

    @include responsive(phone){
        padding: 1rem;
    }
}