.linkForum{
    padding: 0 2rem;
    border-bottom: 1px solid $color-light;
    color: $color-green;

    & a{
        font-size: 1.3rem;
        color: $color-green;
    }

    & img{
        height: 1.5rem;
        margin-bottom: .5rem;
    }
}

.bodyForum{
    background: $bgcolor-money;
    min-height: 100vh;
    width: 100%;
    padding: 10rem 0 5rem;

    p{
        font-size: 1.6rem;
        color: $color-wfade;
    }
}

.mainBox-forum{
    min-height: 70vh;
    background: $color-white;
    box-shadow: $card-shadow;

    & .titleForum{
        padding: $forum-padding;
        border-bottom: 1px solid $color-light;

        & img{
            height: 2rem;
            vertical-align: middle;
            margin-right: 1rem;
        }
    }

    & .forumBlockLeft{
        min-height: 100%;
        border-left: 1px solid $color-light;
        padding: 2rem;
        background: url("../images/bg/Pattern_1x.png");

        &__newletter{

            h3{
                text-transform: uppercase;
                font-size: 2rem;
            }

            &-form{
                background: $color-white;
                position: relative;
                border-radius: $b-radius3;
                margin: 1rem 0;

                & input{
                    padding: 1.3rem 2rem;
                    background: transparent;
                    border: none;
                    font-size: 1.5rem;
                    width: 80%;
                }

                & button{
                    position: absolute;
                    padding: 1.3rem 2rem;
                    right: 0;
                    border-top-right-radius: $b-radius3;
                    border-bottom-right-radius: $b-radius3;
                    border: none;
                    background: $color-green;
                    color: $color-white;
                    font-size: 1.5rem;
                }
            }
        }

        &__prof{
            h3{
                text-transform: uppercase;
                font-size: 2rem;
            }

            & button{
                color: $color-white;
                padding: 1rem 3rem;
                border: 1px solid transparent;
                border-radius: $b-radius3;
                transition: all .3s;
                @include button;
            }
        }

        &__categorie{
            background: $color-white;
            height: 20rem;
            padding: 1rem;
        }
    }

    & .searchForum{
        padding: 2rem;
        border-bottom: 1px solid $color-light;

        & h3{
            font-size: 2rem;
        }

        & input{
            width: 100%;
            padding: 1rem 2rem;
            border: 1px solid $color-green;
            border-radius: $b-radius;
            font-size: 1.5rem;

            @include responsive(tab-port){
                margin-bottom: 1rem;
            }
        }

        & button{
            padding: .7rem 2rem;
            border: 1px solid $color-green;
            border-radius: $b-radius;
            background: $color-green;

            & img{
                height: 2rem;
            }
        }
    }

    & .postForum{
        padding: $forum-padding;
        border-bottom: 1px solid $color-light;
        @include d-flex;
        align-items: center;

        & .btn-question{
            background: $color-primary;
            padding: .5rem 4rem;
            border: 1px solid $color-primary;
            border-radius: $b-radius3;
            color: $color-white;
            font-size: 1.3rem;
            transition: all .3s;

            &:hover{
                box-shadow: $btn-shadow;
            }

            @include responsive(tab-port){
                padding: .5rem 0;
                width: 100%;
            }
        }

        & img{
            height: 2rem;
            margin-right: 1rem;
        }

        @include responsive(tab-port){
            display: block;
        }

    }

    & .questionForum{
        padding: 2rem;
        @include d-flex;

        &__img{
            flex: 1;
            padding: 0 1rem;

            & p{
                height: 7rem;
                width: 7rem;
                border-radius: 50%;
                overflow: hidden;

                & img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            @include responsive(tab-port){
                margin-bottom: 1rem;
            }
        }

        &__question{
            flex: 7;
            padding: 0 1rem;

            h5{
                font-size: 1.8rem;
                font-weight: 500;
                color: $color-black;
            }

            & p{
                font-size: 1.3rem;
            }

            & span{
                color: $color-black;

                & small{
                    background: $color-primary;
                    padding: .3rem 1rem;
                    color: $color-white;
                    margin-left: 1rem;
                    border-radius: $b-radius3;
                }
            }

            &-categorie{
                background: $color-black;
                color: $color-white!important;
                font-size: 1.3rem;
                padding: .2rem 1rem;
            }
        }

        &__reponses{
            flex: 1;
            padding: 0 1rem;
            text-align: center;

            & p{
                background: rgb(221, 221, 221);
                width: 6rem;
                height: 6rem;
                margin: auto;
                border-radius: 50%;
                font-size: 2.5rem;
                color: $color-white;
                display: flex;
                justify-content: center;
                align-items: center;

                @include responsive(tab-port){
                    width: initial;
                    height: initial;
                    background: initial;
                    display: inline-block;
                }
            }

            & small{
                font-size: 1.3rem;
                color: $color-wfade;

                @include responsive(tab-port){
                    color: $color-white;
                }
            }

            @include responsive(tab-port){
                background: #0d6d7c;
                color: $color-white;
                // border-radius: $b-radius3;
                width: 50%;
            }

            @include responsive(phone){
                margin-top: 1rem;
            }
        }

        @include responsive(tab-port){
            display: block;
        }
    }

    & .bg-questionForum{
        background: rgb(250, 250, 250);
    }

    & .paginationForum{
        @include paginations();
    }
}