// infoprof
.infoprof{
    background: $bgcolor-money;

    & .r-reverse{
        flex-direction: row-reverse;
        padding: 3rem 0;
    }

    & .block-left{
        position: sticky;
        top: 7rem;

        & .card-infoprof{
            background: $color-white;
            padding: 2rem;
            margin-bottom: 2rem;
            text-align: center;

            & .card-infoprof-img{
                width: 15rem;
                height: 15rem;
                border-radius: 50%;
                overflow: hidden;
                margin: auto;

                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }

            span{
                font-size: 1.3rem;
                font-style: italic;
                color: $color-green;
            }

            & .condition{
                p{
                    text-align: left;
                }
            }

            & .reservation{
                text-align: center;

                .btn-1{
                    background: $color-green;
                    color: $color-white;
                }

                p{
                    font-size: 1.3rem;
                    margin-top: 1rem;
                }
            }
        }

        & .video-presentation{
            background-color: $color-white;
            height: 30rem;
            margin-bottom: 2rem;
            padding: 1rem;

            & iframe{
                height: 100%;
                width: 100%;
                border: 1px solid transparent;

                &:focus{
                    outline: none;
                }
            }

            @include responsive(tab-port){
                height: 40rem;
            }

            @include responsive(phone){
                height: 25rem;
            }
        }

        & .why{
            background: $color-white;
            padding: 2rem;
            min-height: 20rem;
            box-shadow: $card-shadow;

            h4{
                margin-bottom: 2rem;
            }

            & .why-item{
                display: flex;
                margin-bottom: 2rem;
            }

            & .why-item-img{

                img{
                    height: 4rem;
                    margin-right: 1.5em;
                }
            }

            & .why-item-text{

                h5{
                    font-size: 1.3rem;
                    font-weight: bold;
                    color: $color-dark;
                }

                span{
                    font-size: 1.4rem;
                    font-style: italic;
                    color: $color-wfade;
                }
            }
        }
    }

    & .block-right{
        background: $color-white;
        padding: 1rem 2rem;
        min-height: 30rem;

        p{
            color: $color-wfade;
            font-size: 1.6rem;
        }

        & .matiere{
            span{
                font-size: 1.5rem;
                background: $color-light;
                padding: .5rem 1rem;
                border-radius: $b-radius3;
                margin-right: 1rem;
            }
        }

        h4{
            color: rgba(0, 0, 0, 0.726);
            margin-top: 2rem;
        }

        // @include table;

        & .evaluation{
            & .evaluation-item{
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                margin: 1rem 0;
                padding: 0 1rem;

                & .evaluation-item-img{
                    width: 6rem;
                    height: 6rem;

                    img{
                        object-fit: cover;
                        height: 100%;
                        width: 100%;
                        border-radius: 150%;
                        margin-right: 1rem;
                    }

                    @include responsive(phone){
                        margin: auto;
                    }
                }

                & .evaluation-text{
                    width: 60%;

                    h5{
                        font-size: 1.8rem;
                    }

                    p{
                        font-size: 1.3rem;
                    }

                    @include responsive(phone){
                        margin: auto;
                        width: initial;
                    }
                }

                & .stars{
                    span{
                        color: $color-primary;
                    }
                }

                @include responsive(phone){
                    display: block;
                    margin-bottom: 3rem;
                    text-align: center;
                }
            }

        }
    }

    & .recommadation{
        @include card-postprof;
        padding: 2rem;
    }

    & .owl-carousel{
        & .owl-prev {
            left: 0;
            position: absolute;
        }

        & .next-postProf{
            background: #00000038;
            padding: .2rem 1rem;
            border-radius: $b-radius;

            & img{
                height: 2.5rem;

                @include responsive(phone){
                    height: 2rem;
                }
            }

            &:hover{
                background: rgb(221, 221, 221);
            }

            @include responsive(phone){
                padding: 0 1rem;
            }
        }

        & .next-postProf-1{
            & img{
                transform: rotate(180deg);
            }
        }

        .owl-next {
            right: 0;
            position: absolute;
        }

        & .card-listprof-img{
            & img{
                @include responsive(tab-port){
                    margin: auto;
                }
            }
        }

        & .nameprof{
            & img{
                width: initial;
                display: inline-block;
            }
        }
    }
}

.connexion-inscription{
    padding: 2rem;

    & img{
        height: 1.5rem;
    }

    form{
        margin-top: 1rem;
        padding: 0 5rem;
        text-align: center;

        & .inscription-resseaux{
            & a{
                margin: 0 .6rem;
            }

            & button{
                background: transparent;
                border: none;
            }

            & img{
                height: 3rem;
            }
        }

        input{
            @include connexion-inscription;
        }

        & .validation{
            @include connexion-inscription;
            background: $color-green;
            color: $color-white;
            transition: all .3s;
            border: 1px solid transparent;

            &:hover{
                background: #1593a7;
                box-shadow: $btn-shadow;
            }
        }

        @include responsive(phone){
            padding: 0;
        }
    }
}

.btn-signal{
    & img{
        height: 2rem;
        margin: 0 .2rem .7rem 0;
    }
}

.modal-signal{
    & form{
        padding: initial;
        text-align: initial;

        & select{
            width: 100%;
            margin-bottom: 1rem;
            padding: 1rem;
            font-size: 1.5rem;
            color: $color-dark;

            &:focus{
                outline: none;
            }
        }

        & textarea{
            width: 100%;
            padding: .5rem 1rem;
            font-size: 1.5rem;
            color: $color-dark;
            min-height: 15rem;
        }

        & button{
            width: initial!important;
        }
    }
}

// rating
.rating-1 {
    text-align: center;

    @include responsive(phone){
        padding-right: 3.5rem;
    }

    & .hidden {
        opacity: 0;
    }

    & .star2 {
        display: inline-block;
        font-size: 16px;
        color: rgb(218, 218, 218);
        position: relative;

        
        // &.animate {
        //     -webkit-animation: stretch-bounce .5s ease-in-out;
        // }
        
        &.hidden {
            opacity: 0;
        }

        @include responsive(phone){
            font-size: 2rem;
        }
    }

    & .full {
        &:before {
            font-family: fontAwesome;
            display: inline-block;
            content: "\f005";
            position: relative;
            float: right;
            z-index: 2;
        } 
    }

    & .half {
        &:before {
            font-family: fontAwesome;
            content: "\f089";
            position: absolute;
            float: left;
            z-index: 3;
        }
    }

    & .star-colour {
        color: #ffd700;
    }


    // @-webkit-keyframes stretch-bounce {
    //     0% {
    //         -webkit-transform: scale(1);
    //     }
    //     25% {
    //         -webkit-transform: scale(1.5);
    //     }
    //     50% {
    //         -webkit-transform: scale(0.9);
    //     }
    //     75% {
    //         -webkit-transform: scale(1.2);
    //     }
    //     100% {
    //         -webkit-transform: scale(1);
    //     }
    // }

    & .selected {
        &:before {
            font-family: fontAwesome;
            display: inline-block;
            content: "\f005";
            position: absolute;
            top: 0;
            left: 0;
            -webkit-transform: scale(1);
            opacity: 1;
            z-index: 1;
        }
        
        &.pulse {
            &:before {
            -webkit-transform: scale(3);
            opacity: 0;
            }
        }
        
        &.is-animated {
            &:before {
            transition: 1s ease-out;
            }
        }
    }
}