// breakpoint
@mixin responsive($breakpoint){
    @if $breakpoint == phone {
        @media only screen and (max-width: 576px) { @content };
    }

    @if $breakpoint == tab-port {
        @media only screen and (max-width: 768px) { @content };
    }

    @if $breakpoint == tab-land {
        @media only screen and (max-width: 992px) { @content };
    }

    @if $breakpoint == big-desktop {
        @media only screen and (max-width: 1200px) { @content };
    }

    @if $breakpoint == lgbig-desktop {
        @media only screen and (max-width: 1800px) { @content };
    }
}