.box-payement{
    min-height: 100vh;
    background: $bgcolor-money;
    padding: 5rem 0;
}

.payment{
    background-color: $color-white;
    min-height: 50rem;
    padding: 2rem 4rem;

    &__title{
        padding: 1rem 2rem;
        border: 1px solid #6b62ff;
        background-color: #f0f0ff;
        width: 40%;
        margin-top: -5%;
    }

    &__body{
        &--title{
            position: relative;
            padding-bottom: .7rem;
            margin-bottom: 2rem;

            &:after{
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                height: .3rem;
                width: 7%;
                border-radius: 1rem;
                background-color: #6b62ff;

                @include responsive(phone){
                    width: 20%;
                }
            }
        }

        &--info{
            & small{
                display: inline-block;
                font-size: 1.8rem;
                padding: 0 1rem;
            }

            & .prix{
                color: #6b62ff;
                font-weight: bold;
                background-color: #f0f0ff;
                border-radius: $b-radius;
            }
        }

        &--consigne{
            .consigne-step{
                border-bottom: 1px dashed #6a62ffa2;
                margin-bottom: 2rem;
            }
            & .consigne-number{
                border: 1px dashed #6b62ff;
                width: 4rem;
                height: 4rem;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            @include responsive(phone){
                .consigne-step-responsive{
                    border-bottom: 1px dashed #6a62ffa2;
                    margin-bottom: 2rem;
                }
            }
        }

        &--img-motion{
            min-height: 20rem;

            & img{
                height: 30rem;
            }
        }
    }

    @include responsive(phone){
        padding: 2rem 1rem;
    }
}