.profil-menu{
    display: flex;
    margin-top: 7rem;
    padding: 2rem 0;
    background: $color-white;
    text-align: center;

    & .nav-tabs{
        border: none;
        & .nav-link{
            color: $color-dark;
        }
        
        & .nav-link.active{
            color: $color-primary;
            border: 1px solid $color-primary;
        }

        & .nav-item{
            border: 1px solid transparent;

            &:hover{
                border: 1px solid $color-primary;
            }
        }
    }
}

.profil-content{
    background: $bgcolor-money;
    min-height: calc(100vh - 205px);

    & .tab-content{
        padding: 2rem 0;

        & .identite{
            background: $color-white;
            padding: 2rem;

            & .photo-user{
                height: 20rem;
                width: 20rem;
                margin: auto;
                margin-bottom: 2rem;

                img{
                    object-fit: cover;
                    border-radius: 100%;
                }
            }

            & .verifie{
                color: green;
            }

            & .non-verifie{
                color: red;
            }
        }

        & .profil-information{
            background: $color-white;
            min-height: 50rem;
            padding: 2rem;

            & .complete-profil{
                h3{
                    button{
                        color: black;
                        font-size: 2rem;
                        font-weight: bold;
                        text-decoration: none;
                    }
                }

                & .card{
                    border: none;
                }

                & .card-header{
                    background: transparent;
                    border: 1px solid $color-primary;
                }

                & .card-body{
                    padding: 1rem 2rem;

                    @include responsive(phone){
                        padding: 1rem 0;
                    }
                }

                form{
                    & input{
                        border: 1px solid $color-green;
                        font-size: 1.5rem;
                        padding: 1rem;
                        width: 100%;
                        margin-bottom: 1rem;
                        border-radius: $b-radius;
                    }

                    & textarea{
                        padding: 1rem;
                        width: 100%;
                        border: none;
                        border: 1px solid $color-green;
                        border-radius: $b-radius;
                    }
                    

                    & button{
                        @include connexion-inscription;
                        background: $color-green;
                        color: $color-white;
                        transition: all .3s;
                        border: 1px solid transparent;

                        &:hover{
                            background: #1593a7;
                            box-shadow: $btn-shadow;
                        }
                    }

                    & .radio{
                        margin: 1rem 2rem 0 0;
                        @include radio;
                    }
                    

                    // & .optionprof{
                    //     display: none;
                    //     width: 100%;
                        
                    //     & .renseignement-prof{
                    //         padding: 0;
                    //         margin-bottom: 2rem;
                    //     }
                    // }

                    & label{
                        @include responsive(phone){
                            font-size: 1.3rem;
                        }
                    }
                }

                & .affiche-info{
                    
                    & .form-info{
                        padding:.5rem;
                        margin-bottom: 1rem;

                        h4{
                            color: $color-green;
                        }

                        span{
                            font-size: 1.5rem;
                            font-style: italic;
                            margin-left: 1rem;
                            color: $color-black;
                        }

                        p{
                            font-size: 1.5rem;
                            font-style: italic;
                            margin-left: 1rem;
                            color: $color-black;
                        }
                    }
                }
            }
        }
    }
    
    & .programmes{
        @include styleProfil;

        & .aucunprogramme{
            margin-bottom: 1rem;
            text-align: center;
            display: flex;
            justify-content: space-between;
            align-items: center;

            img{
                height: 5rem;
                vertical-align: middle;
            }

            button{
                color: $color-white;
                padding: 1rem 2rem;
                border: 1px solid $color-green;
                transition: all .3;
                border-radius: $b-radius;
                @include button;
            }
        }

        & .cours-disponible{
            @include table;

            img{
                height: 3rem;
            }
        }
    }

    & .messages{
        @include styleProfil;

        & .aucunmessage{
            text-align: center;

            img{
                height: 6rem;
                margin-bottom: 1rem;
            }
        }

        & .message-recu{
            border: 1px solid $color-wfade;
            padding: 1rem;
            border-radius: $b-radius3;
            margin-bottom: 2rem;

            & .auteur{
                text-align: center;
                img{
                    height: 10rem;
                    width: 10rem;
                    object-fit: cover;
                    border-radius: 50%;
                    margin-bottom: 1rem;
                    border: 2px solid $color-primary;
                }

                h3{
                    font-size: 2rem;
                    font-weight: bold;
                }

                small{
                    color: $color-wfade;
                    font-size: 1.3rem;
                }
            }

            & .contenu-message{
                color: $color-wfade;
                font-size: 1.3rem;

                & .card{
                    border: none;

                    & .card-header{
                        border: none;
                        background: transparent;
                    }
                }

                h3{
                    text-align: right;

                    button{
                        font-size: 1.8rem;
                        color: $color-green;
                        text-decoration: none;
                    }
                }

                form{
                    textarea{
                        padding: 1rem;
                        width: 80%;
                        font-size: 1.6rem;
                    }

                    button{
                        background: transparent;
                        border: none;
                        padding: 0 3rem;
                        vertical-align: bottom;

                        img{
                            height: 3rem;
                        }

                        @include responsive(phone){
                            padding: 0 .5rem;
                        }
                    }
                }
            }
        }
    }

}