
.questionUtilisateur{
    padding: 2rem;

    & h3{
        font-size: 2rem;
    }

    &__user{
        display: flex;

        & p{
            width: 7rem;
            height: 7rem;
            border-radius: 50%;
            overflow: hidden;
            margin-right: 1rem;

            & img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }

            @include responsive(tab-port){
                height: 6rem;
                width: 6rem;
            }
        }

        &-info{
            color: $color-dark;

            & small{
                font-size: 1.3rem;
            }
        }

        &-question{
            & button{
                border: 1px solid $color-primary;
                background: transparent;
                border-radius: $b-radius3;
                padding: .5rem 1rem;
            }

            & .likereponse{
                background: $color-primary;
                color: $color-white;
            }

            & img{
                height: 1.5rem;
            }
        }
    }

    &__btn-reponse{
        & button{
            padding: .7rem 3rem;
            background: $color-primary;
            color: $color-white;
            border: 1px solid $color-primary;
            border-radius: $b-radius3;
            transition: all .5s;

            &:hover{
                background: #d65a25;
            }

            & img{
                height: 2rem;
                margin-right: 1rem;
            }

            @include responsive(tab-port){
                padding: .5rem 1.5rem;
            }
        }

        & .questionCommentaire{
            background: rgba(0,0,0,0.2);
            padding: .5rem 1rem;
            border-radius: $b-radius;
        }

        @include responsive(tab-port){
            justify-content: space-between;
        }
    }
}

.qu-reponse{
    width: 90%;
    margin: auto;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
    margin-bottom: 2rem;
    border-radius: $b-radius;
}