.block-right{
    h3{
        text-align: center;
    }

    form{
        h4{
            margin-bottom: 1rem;
        }
        
        input{
            width: 100%;
            padding: .5rem 1rem;
            border: 1px solid $color-green;
            border-radius: $b-radius;
        }

        textarea{
            width: 100%;
            padding: 1rem;
            font-size: 1.6rem;
            border: 1px solid $color-green;
            border-radius: $b-radius;
        }

        button{
            color: $color-white;
            padding: 1rem 5rem;
            border: 1px solid $color-green;
            transition: all .5s;
            margin: 1rem 0;
            @include button;
        }

        & .radio{
            @include radio;
        }

        & .check{
            display: flex;
            align-items: center;

            input{
                width: initial;
                margin-top: 0;
            }

            label{
                margin-left: 1rem;
            }
        }

        & label{
            @include responsive(phone){
                font-size: 1.3rem;
            }
        }

        .squaredTwo {
            width: 24px;
            height: 24px;
            position: relative;
            background: #fcfff4;
            background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
            box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);

            label {
                width: 16px;
                height: 16px;
                cursor: pointer;
                position: absolute;
                left: -6px;
                top: 4px;
                background: linear-gradient(top, #fa7035 0%, #ffa885 100%);
                box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);

                &:after {
                    content: '';
                    width: 10px;
                    height: 6px;
                    position: absolute;
                    top: 4px;
                    left: 4px;
                    border: 3px solid green;
                    border-top: none;
                    border-right: none;
                    background: transparent;
                    opacity: 0;
                    transform: rotate(-45deg);
                }

                &:hover::after {
                opacity: 0.3;
                }
            }

            input[type=checkbox] {
                visibility: hidden;
                &:checked + label:after {
                opacity: 1;
                }    
            }
        }
    }
}

// modal abonnement
.center-modal-abonnement{
    height: 80vh;
    display: flex;
    align-items: center;
}

.border-modal-abonnement{
    border: 1px solid transparent;
    border-radius: $b-radius;
    overflow: hidden;

    @include responsive(phone){
        margin: 25rem 0 5rem;
    }
}

.box-abonnement{
    display: flex;
    min-height: 40rem;

    &__left{
        flex: 1;

        &--img{
            height: 100%;

            & img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }

    &__right{
        flex: 1;
        padding: 1rem 2rem;

        &--title{
            position: relative;
            padding-bottom: .7rem;
            margin-bottom: 1rem;

            &:after{
                content: "";
                width: 25%;
                height: .3rem;
                background-color: $color-green;
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }

        & .pt-form-abonnement{
            padding: 1rem 0;
        }

        & .bb-form-abonnement{
            border-bottom: 1px dashed rgba(77, 77, 77, 0.575);
        }

        // custom radio
        & .custom_radio{
            margin: 20px;
        }

        & .custom_radio input[type="radio"]{
            display: none;
        }

        & .custom_radio input[type="radio"] + label{
            position: relative;
            display: inline-block;
            padding-left: 1.5em;
            margin-right: 2em;
            cursor: pointer;
            line-height: 1em;
            transition: all 0.3s ease-in-out;

            @include responsive(phone){
                font-size: 1.5rem;
            }
        }

        & .custom_radio input[type="radio"] + label:before,
        & .custom_radio input[type="radio"] + label:after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 1em;
            height: 1em;
            text-align: center;
            color: white;
            border: 1px solid $color-green;
            border-radius: 50%;
            transition: all .3s ease;
        }

        & .custom_radio input[type="radio"] + label:before {
            transition: all .3s ease;
            box-shadow: inset 0 0 0 0.2em white, inset 0 0 0 1em white;
        }

        & .custom_radio input[type="radio"] + label:hover:before {
            transition: all .3s ease;
            box-shadow: inset 0 0 0 0.3em white, inset 0 0 0 1em #fa7035;
        }

        & .custom_radio input[type="radio"]:checked + label:before {
            transition: all .3s ease;
            box-shadow: inset 0 0 0 0.2em white, inset 0 0 0 1em #fa7035;
        }
    }

    @include responsive(tab-land){
        display: block;
    }
}