.footer{
    background: $bgfooter-black;

    h3{
        color: $color-white;
        margin-bottom: 2rem;;
    }
    
    & .footer-bottom{
        background: $bgfooter-bottom;
        padding: 3rem 0;

        & .propos{

            & p{
                font-size: 1.5rem;
                color: rgba(255, 255, 255, 0.822);
                margin-bottom: 1rem;
                padding-right: 3rem;

                @include responsive(phone){
                    font-size: 1.3rem;
                }
            }

            @include responsive(phone) {
                margin-bottom: 2rem;
            }
        }

        & .newsletter{
            position: relative;
            width: 100%;
            background: $color-black;
            border-radius: 3rem;

            input{
                width: 80%;
                background: transparent;
                @include newsletter;

                &::placeholder{
                    color: $color-white;
                }
            }

            button{
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                background: transparent;
                @include newsletter;
                border-left: 1px solid $bgfooter-bottom;
            }

            @include responsive(phone) {
                margin-bottom: 3rem;
            }
        }

        & .link-utile{
            & a{
                color: rgba(255, 255, 255, 0.822);
            }

            & ul{
                margin-left: 1.5rem;

                & li{
                    font-size: 1.45rem;
                    list-style-type: square;
                    margin-bottom: 1rem;
                    transition: all .3s;

                    &:hover{
                        color: $color-primary;
                    }
                }
            }

            @include responsive(phone) {
                margin-bottom: 3rem;
            }
        }

        & .box-reseaux{
            & a{
                color: rgba(255, 255, 255, 0.822);
            }

            & li{
                display: flex;
                align-items: center;
                transition: all .3s;
                margin-bottom: .7rem;

                &:hover{
                    margin-left: 1rem;
                }
            }
            
            &__img{
                height: 2.5rem;
                width: 2.5rem;
                border-radius: 50%;
                background-color: rgba(255, 255, 255, 0.246);
                padding: .3rem;
                margin-right: 1rem;

                & img{
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            @include responsive(phone) {
                margin-bottom: 3rem;
            }
        }
    }

    & .footer-copyright{
        padding: 1rem 0;

        p{
            font-size: 1.3rem;
            font-style: italic;
            color: rgba(255, 255, 255, 0.822);
        }
    }
}