// header postprof
.header-postprof{
    min-height: 40vh;
    @include form-search;

    h1{
        margin-bottom: 3rem;
    }

    @include responsive(lgbig-desktop){
        min-height: 40rem;
    }

    @include responsive(phone){
        min-height: 60rem;
    }

    @include select2();
}


// section listprof
.listprof{
    background: $bgcolor-money;

    @include card-postprof;
}

// -----------------

// header blog plud

.header-blog{
    min-height: 30vh;

    @include responsive(lgbig-desktop){
        min-height: 30rem;
    }

    @include responsive(phone){
        min-height: 30rem;
    }
}