// responsive nav
.menu-bar{
    display: none !important;

    & img{
        height: 3rem;
        vertical-align: middle;
        margin-top: .5rem;
    }

    @include responsive(phone){
        display: block !important;
    }
}

.link-deconnect{
    @include responsive(phone){
        display: none;
        position: absolute;
        left: 0;
        top: 5.5rem;
        background: $color-white;
        width: 70%;
        min-height: 100vh;
        border-top: 1px solid $color-primary;
    }

    li{
        @include responsive(phone){
            display: block !important;
            border-bottom: 1px dashed $color-primary;
            padding: 1rem 2rem !important;
        }
    }

    & .link-active{
        @include responsive(phone){
            padding: 1rem !important;
        }
    }
}

// responsive menu connecter
.link{
    & .link-block{
        @include responsive(phone){
            display: none !important;
        }
    }
}

.link-profil{
    @include responsive(phone){
        margin-top: 0 !important;
    }

    .link-active{
        @include responsive(phone){
            padding: 1rem !important;
        }
    }
}

.parametre{
    & .link-none{
        display: none !important;

        @include responsive(phone){
            display: block !important;
        }
    }

    & img{
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
    }

    & .sous-menu{
        @include responsive(phone){
            right: 100%;
        }
    }
}

.nav-annonce{
    & a{
        & img{
            height: 5rem;
        }
    }

    .step {
            height: 15px;
            width: 15px;
            margin: 0 2px;
            background-color: $color-primary;
            border: none;  
            border-radius: 50%;
            display: inline-block;
            opacity: 0.5;
        }

        .step.active {
            opacity: 1;
        }

        .step.finish {
            background-color: #4CAF50;
        }
}